3d6977c4-ae86-11eb-8b25-0cc47a792c0a_id_3d6977c4-ae86-11eb-8b25-0cc47a792c0a_files
ocr_moron
png
tempimages
.gitlab-ci.yml
001_1561_Moron_Zbigniew_2003_Pomiary_przewodnosci_elektrycz (1).docx
001_1561_Moron_Zbigniew_2003_Pomiary_przewodnosci_elektrycz.docx
3d6977c4-ae86-11eb-8b25-0cc47a792c0a_id_3d6977c4-ae86-11eb-8b25-0cc47a792c0a.html
1561_Moron_Zbigniew_2003_Pomiary_przewodnosci_elektrycz (1).zip
1561_Moron_Zbigniew_2003_Pomiary_przewodnosci_elektrycz.zip
a9t9.FreeOcrWindowsDesktop-Setup.1.exe
LICENSE
mathpix_snipping_tool_setup.exe
README.md
1561_Moron_Zbigniew_2003_Pomiary_przewodnosci_elektrycz.pdf